<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.4) 50%), url('https://images.unsplash.com/photo-1510480248785-c4483daedb19?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1756&q=80')">
  <div class="banner-content">
    <h1>Your Kingdom Awaits</h1>
    <p>See you bookings below:</p>
  </div>
</div>

<br>
<br>

<div class="container">
  <h3 class="text-center">All bookings for: ( <%= current_user.email %> )</h3>
  <% if @bookings.empty? %>
    <div class="empty-bookings">
      <p class="text-center p-3 m-3">You have no current bookings!</p>
    </div>
  <% else %>
    <% @bookings.each do |booking| %>
      <div class="booking-card">
        <div class="booking-info">
          <h3> <%= link_to "#{booking.castle.name}", castle_path(booking.castle.id) %> </h3>
          <p> Booked for: <%= booking.user.email %> </p>
          <div class="dates">
            <p> When: </p>
            <p> <strong><%= booking.start_date.strftime("%d/%m/%Y") %></strong> </p>
            <p>-</p>
            <p> <strong><%= booking.end_date.strftime("%d/%m/%Y") %></strong> </p>
          </div>
          <p>Castle Owner: <%= booking.castle.user.email %> </p>
          <p>Status: <%= booking.status %></p>
        </div>
        <div class="castle-img"></div>
      </div>
    <% end %>
  <% end %>

  <h3 class="text-center m-3">My Castle Bookings</h3>
  <% if @castles.empty? %>
    <div class="empty-bookings">
      <p class="text-center p-3 m-3">You don't have any castles!</p>
    </div>
  <% else %>
    <% @castles.each do |castle| %>
      <h3> <%= castle.name %> - Bookings</h3>
      <% if castle.bookings.empty? %>
        <p class="text-center p-3 m-3">This castle has no bookings!</p>
      <% else %>
        <% castle.bookings.each do |booking| %>
           <p> <%= booking.user.email %></p>
           <p><%= booking.start_date %></p>
           <p> <%= booking.end_date %> </p>
           <p> <%= booking.status %></p>
           <% if booking.status == "pending"  %>
            <%= link_to "confirm booking", confirm_booking_path(booking.id), method: :post, class: "btn btn-success" %>
            <%= link_to "decline booking", decline_booking_path(booking.id), method: :post, class: "btn btn-danger" %>
           <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
