<br>
<br>
<br>

<div class="container">
  <h3 class="text-center mb-3">Your Bookings</h3>
  <% if @bookings.empty? %>
    <div class="empty-bookings">
      <p class="text-center p-3 m-3">You have no current bookings!</p>
    </div>
  <% else %>
    <% @bookings.each do |booking| %>
      <div class="booking-card">
        <div class="booking-info">
          <h3 class="brand-color"> <%= link_to "#{booking.castle.name}", castle_path(booking.castle.id) %> </h3>
          <div class="dates">
            <p> <i id="email" class="far fa-calendar-alt"></i></p>
            <p> <strong><%= booking.start_date.strftime("%d/%m/%Y") %></strong> </p>
            <p>-</p>
            <p> <strong><%= booking.end_date.strftime("%d/%m/%Y") %></strong> </p>
          </div>
          <p><i class="fas fa-crown brand-color"></i> <%= booking.castle.user.email %> </p>
          <p><%= booking.status %>
            <% if booking.status == "pending" %>
            <i id="orange" class="far fa-clock"> </i>
            <% elsif booking.status == "confirmed" %>
            <i id="green" class="far fa-check-circle"></i>
            <% else %>
            <i id="red" class="far fa-times-circle"></i>
            <% end %>
          </p>
        </div>
        <% if booking.castle.photo.attached? %>
          <div class="castle-img" style="background-image: url('<%= cl_image_path booking.castle.photo.key, crop: :fill %>')">
        </div>
        <% else %>
        <div class="castle-img"></div>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <h3 class="text-center m-3 mt-5">See who's booked your castle's</h3>
  <% if @castles.empty? %>
    <div class="empty-bookings">
      <p class="text-center py-3">You don't have any castles!</p>
    </div>
  <% else %>
    <% @castles.each do |castle| %>
      <h3  class="text-center mt-5 brand-color"> <%= castle.name %></h3>
      <% if castle.bookings.empty? %>
        <p class="text-center py-3 my-booking">This castle has no bookings!</p>
      <% else %>
      <div class="my-booking-container">
          <% castle.bookings.each do |booking| %>
          <div class="my-booking">
             <p> <i id="email" class="far fa-envelope"></i> <em><%= booking.user.email %></em></p>
             <p> <i id="email" class="far fa-calendar-alt"></i><strong> <%= booking.start_date %> -
               <%= booking.end_date %></strong></p>
             <p><%= booking.status %>
             <% if booking.status == "pending"%>
            <i id="orange" class="far fa-clock"> </i>
            <% elsif booking.status == "confirmed" %>
            <i id="green" class="far fa-check-circle"></i>
            <% else %>
            <i id="red" class="far fa-times-circle"></i>
            <% end %> </p>
             <% if booking.status == "pending"  %>
             <p><%= link_to "confirm booking", confirm_booking_path(booking.id), method: :post, class: "btn btn-success" %>
             <%= link_to "decline booking", decline_booking_path(booking.id), method: :post, class: "btn btn-danger" %></p>
             <% end %>
          </div>
        <% end %>

      <% end %>
      </div>
    <% end %>
  <% end %>

</div>
