<h1>Bookings#show</h1>
<p>You have a booking!</p>

<p><%= @booking.castle.name %>- <%= @booking.castle.user.email %></p>
<p><%= @booking.user.email %> your kingdom awaits... </p>

<p>Start-Date: <%= @booking.start_date %></p>
<p>End-Date: <%= @booking.end_date %></p>
