<div class="container py-5">

<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

  <!--Controls-->
  <div class="controls-top">
    <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
    <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
  </div>
  <!--/.Controls-->

  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
    <li data-target="#multi-item-example" data-slide-to="1"></li>
    <li data-target="#multi-item-example" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->

  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <!--First slide-->
    <div class="carousel-item active">

      <div class="row">

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title"><%= @castles[0].name %></h4>
              <p class="card-text">£<%= @castles[0].price_per_night %></p>
              <%= link_to "Explore", "#", class: "btn btn-explore" %>
              </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title"><%= @castles[1].name %></h4>
              <p class="card-text">£<%= @castles[1].price_per_night %></p>
              <%= link_to "Explore", "#", class: "btn btn-explore" %>
              </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title"><%= @castles[2].name %></h4>
              <p class="card-text">£<%= @castles[2].price_per_night %></p>
              <%= link_to "Explore", "#", class: "btn btn-explore" %>
           </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title"><%= @castles[3].name %></h4>
              <p class="card-text">£<%= @castles[3].price_per_night %></p>
              <%= link_to "Explore", "#", class: "btn btn-explore" %>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!--/.First slide-->

    <!--Second slide-->
    <div class="carousel-item">

      <div class="row">

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title"><%= @castles[4].name %></h4>
              <p class="card-text">£<%= @castles[4].price_per_night %></p>
              <%= link_to "Explore", "#", class: "btn btn-explore" %>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title"><%= @castles[5].name %></h4>
              <p class="card-text">£<%= @castles[5].price_per_night %></p>
              <%= link_to "Explore", "#", class: "btn btn-explore" %>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title"><%= @castles[6].name %></h4>
              <p class="card-text">£<%= @castles[6].price_per_night %></p>
              <%= link_to "Explore", "#", class: "btn btn-explore" %>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title"><%= @castles[7].name %></h4>
              <p class="card-text">£<%= @castles[7].price_per_night %></p>
              <%= link_to "Explore", "#", class: "btn btn-explore" %>
            </div>
          </div>
        </div>

      </div>

    </div>
    <!--/.Second slide-->

  </div>
  <!--/.Slides-->

</div>
</div>
