
<% if user_signed_in? %>
  <%=current_user.email%>
  <%= current_user.id %>
<%end%>

<br>
<br>

<%= link_to 'sign out',  destroy_user_session_path, method: :delete,
            data: { confirm: "Are you sure?" }%>
<% @castles.each do |castle| %>
  <p><%= link_to "#{castle.name} - #{castle.user.email}", castle_path(castle.id) %></p>
<% end %>

<%= link_to "Create a new castle", new_castle_path %>

<!-- Content for the banner -->

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.4) 50%), url('https://images.unsplash.com/photo-1510480248785-c4483daedb19?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1756&q=80')">
  <div class="banner-content">
    <h1>Heirbnb</h1>

    <p>Your kingdom awaits you</p>

    <%= link_to 'Log in', new_user_session_path %>
  </div>
</div>

<!-- Content for lower half of the page including a 3 card carousel -->
<h3 class = "text-center">Our <strong id="red-word">top picks</strong> from <strong id="red-word">legendary hosts</strong> around the world </h3>
<!--/.Castle Cards-->
    <div class="card-container">
      <div class="animated-card">
          <img src="https://images.unsplash.com/photo-1597466599360-3b9775841aec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1300&q=80" alt="Sora" class="card-img-top">
          <div class="card-body">
              <h5 class="card-title"><%= @castles[8].name %></h5>
              <p class="card-text">£<%= @castles[8].price_per_night %></p>
              <a href="#" class="btn-explore">More</a>
          </div>
      </div>
      <div class="animated-card">
          <img src="https://images.unsplash.com/photo-1572942586715-44e0aedbe305?ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80" alt="Umi" class="card-img-top">
          <div class="card-body">
              <h5 class="card-title"><%= @castles[9].name %></h5>
              <p class="card-text">£<%= @castles[9].price_per_night %></p>
              <a href="#" class="btn-explore">More</a>
          </div>
      </div>
      <div class="animated-card">
          <img src="https://images.unsplash.com/photo-1515356619894-b89131037e3d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80" alt="Mori" class="card-img-top">
          <div class="card-body">
              <h5 class="card-title"><%= @castles[10].name %></h5>
              <p class="card-text">£<%= @castles[10].price_per_night %></p>
              <a href="#" class="btn-explore">More</a>
          </div>
      </div>
    </div>

<div class="container">

<!--Carousel Wrapper-->
  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

  <!--Controls-->
    <div class="controls-top">
      <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
      <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
    </div>
  <!--/.Controls-->

  <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
      <li data-target="#multi-item-example" data-slide-to="1"></li>
      <li data-target="#multi-item-example" data-slide-to="2"></li>
    </ol>
  <!--/.Indicators-->

  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <!--First slide-->
    <div class="carousel-item active">

      <div class="row">

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title"><%= @castles[0].name %></h4>
              <p class="card-text">£<%= @castles[0].price_per_night %></p>
              <a class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title"><%= @castles[1].name %></h4>
              <p class="card-text">£<%= @castles[1].price_per_night %></p>
              <a class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title"><%= @castles[2].name %></h4>
              <p class="card-text">£<%= @castles[2].price_per_night %></p>
              <a class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title"><%= @castles[3].name %></h4>
              <p class="card-text">£<%= @castles[3].price_per_night %></p>
              <a class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!--/.First slide-->

    <!--Second slide-->
    <div class="carousel-item">

      <div class="row">

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title"><%= @castles[4].name %></h4>
              <p class="card-text">£<%= @castles[4].price_per_night %></p>
              <a class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title"><%= @castles[5].name %></h4>
              <p class="card-text">£<%= @castles[5].price_per_night %></p>
              <a class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title"><%= @castles[6].name %></h4>
              <p class="card-text">£<%= @castles[6].price_per_night %></p>
              <a class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title"><%= @castles[7].name %></h4>
              <p class="card-text">£<%= @castles[7].price_per_night %></p>
              <a class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>

      </div>

    </div>
    <!--/.Second slide-->

  </div>
  <!--/.Slides-->



  </div>
</div>

</div>
