
<% if user_signed_in? %>
  <%=current_user.email%>
  <%= current_user.id %>
<%end%>

<br>
 <br>

<%= link_to 'sign out',  destroy_user_session_path, method: :delete,
            data: { confirm: "Are you sure?" }%>
<% @castles.each do |castle| %>
  <p><%= link_to "#{castle.name} - #{castle.user.email}", castle_path(castle.id) %></p>
<% end %>

<%= link_to "Create a new castle", new_castle_path %>

<!-- Content for the banner -->

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.4) 50%), url('https://images.unsplash.com/photo-1510480248785-c4483daedb19?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1756&q=80')">
  <div class="banner-content">
    <h1>Heirbnb</h1>
    <p>Your kingdom awaits you</p>
    <%= link_to 'Log in', new_user_session_path %>
  </div>
</div>

<!-- Content for lower half of the page including a 3 card carousel -->
<h3 class = "text-center">Our <strong id="red-word">top picks</strong> from <strong id="red-word">legendary hosts</strong> around the world </h3>

<div class="container py-5">

<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

  <!--Controls-->
  <div class="controls-top">
    <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
    <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
  </div>
  <!--/.Controls-->

  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
    <li data-target="#multi-item-example" data-slide-to="1"></li>
    <li data-target="#multi-item-example" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->

  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <!--First slide-->
    <div class="carousel-item active">

      <div class="row">

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Info about the castle</p>
              <a class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Info about the castle</p>
              <a class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Info about the castle</p>
              <a class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Info about the castle</p>
              <a class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!--/.First slide-->

    <!--Second slide-->
    <div class="carousel-item">

      <div class="row">

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Info about the castle</p>
              <a class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Info about the castle</p>
              <a class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Info about the castle</p>
              <a class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Info about the castle</p>
              <a class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>

      </div>

    </div>
    <!--/.Second slide-->

    <!--Third slide-->
    <div class="carousel-item">

      <div class="row">

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Info about the castle</p>
              <a class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Info about the castle</p>
              <a class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Info about the castle</p>
              <a class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <div class="card mb-2">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
              alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Info about the castle</p>
              <a class="btn btn-primary">Explore</a>
            </div>
          </div>
        </div>

      </div>

    </div>
    <!--/.Third slide-->

  </div>
  <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->
</div>
