<div class="container-signing">
  <h1>Add a New Castle</h1>

  <%= simple_form_for @castle do |f| %>
    <%= f.input :name %>
    <%= f.input :address, :html => {:id => "castle_address"} %>
    <%= f.input :price_per_night %>
    <%= f.input :photo, as: :file%>
    <%= f.submit class: "btn-sign-up" %>
  <% end %>
</div>
