<br>
<br>
<br>
<div class="container">
    <h1>Welcome to <%= @castle.name %></h1>
    <h3> <%= @castle.address %></h3>
    <p> Owner: <%= @castle.user.email %></p>
    <div >
      <%= cl_image_tag @castle.photo.key, height: 300, width: 400, crop: :fill %>
    </div>



    <%= link_to "Back", root_path, class: "btn btn-danger" %>
  </div>
</div>

<div class="container my-5">
    <div class="row">
    <%= simple_form_for [@castle, @booking] do |f| %>
      <%= f.input :start_date, as: :date, html5: true %>
      <%= f.input :end_date, as: :date, html5: true %>
      <%= f.submit %>
    <% end %>
    </div>
</div>



